body {
  text-align: center;
  color:aquamarine;
}
main {
    height:300px;
    width:300px;
    position: absolute;
    left:50%;
    top: 30%;
    margin-left: -150px;
    margin-top: -150px;
    border-radius: 20px;
    background: linear-gradient(50deg, #bf77efd6, pink);
}
button {
  width:100px;
  height: 70px;
  margin-top:5px;
  font-size: 15px;
  color: black;
  border-radius: 15%;
  background: rgb(168, 91, 209);
  outline: none;
}

button:hover {
  outline: none;
  animation:rotate 3s linear infinite;
}
#pick {
  min-width: 200px;
  min-height: 130px;
  background: linear-gradient(50deg,#bf77efd6, pink);
  margin-top: 150px;
  font-size: 20px;
  border-radius: 30px;
}
header {
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px #bf77efd6, 4px 4px pink;
    opacity: 0.5;
}
@keyframes rotate {
    to {
        transform: rotateZ(360deg);
    }
}
